[Desktop Entry]
Version=1.0
Type=Application
Name=NX Prep
Comment=
Exec="sudo /home/waggle/Desktop/surya/surya-tools-1.0.2/nx_prepare.sh -f /home/waggle/Desktop/surya/images/nx/temp/mfi_waggle_photon/nvmflash.sh"
Icon=jockey
Path=/home/waggle/Desktop/surya/surya-tools-1.0.2
Terminal=true
StartupNotify=true
