[Desktop Entry]
Version=1.0
Type=Application
Name=Sd Card Prep
Comment=
Exec="sudo /home/waggle/Desktop/surya/surya-tools-1.0.2/rpi_prepare.sh -f /home/waggle/Desktop/surya/images/rpi/v1.0.0/rpi-pxe-setup-1.0.0.img"
Icon=rpi-imager
Path=/home/waggle/Desktop/surya/surya-tools-1.0.2
Terminal=true
StartupNotify=true
